.header{
    border: 10px solid;
    border-radius: 15px;
    border-color: rgb(0, 126, 128);
    background-color: rgb(206, 221, 1);
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

h3{
    color:blueviolet;
}